
        .star{
            color: red;
        }
        #btn{
            background-color: orange;
            color: white;
            width: 300px;
            margin-left:620px;
            height:50px;
            border-radius: 10px;
            font-size: 20px;
            margin-top: 20px;
        }
        /* .btn:hover{
           background-color: purple;
        } */
        /* input[type="file"]{
            display: none;
        } */
        #heading1{
          font-size: 20px;
          
        }
    #underline{
        border-top: 5px solid rgba(0, 0, 0, 0.571);
        
    }
    #sur-name{
        margin-bottom: 10px;
    }
    #GivenName{
        margin-bottom: 10px;
    }
    #firstname{
        margin-bottom: 10px;
    }
    #lastname{
        margin-bottom: 10px;
    }
    #gender{
        margin-bottom: 10px;
    }
    #country{
        margin-bottom: 10px;
    }
    #state{
        margin-bottom: 10px;
    }
    #phonenumber1{
        margin-bottom: 10px;
    }